<<<<<<< HEAD
<<<<<<< HEAD
.container h1 {
    color: white;
    font-size: var(--primaryFontSize);
    font-weight: 900;
    animation: blinktext 0.2s infinite;
=======
=======
>>>>>>> eca0d4d (fix)
.container {
    background-color: var(--tertiaryColor);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
>>>>>>> eca0d4d (fix)
}

.container img {
    width: 508px;
    height: 503px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container a {
    background-color: white;
    padding: 1rem 2rem;
    color: var(--tertiaryColor);
    font-weight: 900;
    animation: blinktext 0.2s infinite;
    animation: blink 0.2s infinite;
=======
.container h1 {
    color: #fff;
    font-weight: 900;
>>>>>>> eca0d4d (fix)
=======
.container h1 {
    color: #fff;
    font-weight: 900;
>>>>>>> eca0d4d (fix)
}

a {
    text-decoration: none;
<<<<<<< HEAD
}

.container {
    background-color: var(--tertiaryColor);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    animation: blink 0.2s infinite;
}

@keyframes blink {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

@keyframes blinktext {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
=======
    color: var(--tertiaryColor);
    padding: 1rem 1.5rem;
    background-color: #fff;
    font-weight: 900;
<<<<<<< HEAD
>>>>>>> eca0d4d (fix)
=======
>>>>>>> eca0d4d (fix)
}
